<div >
  <h5>
    Edit User Account
  </h5>

  <% if @user.errors.any? %>
  <% @user.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
  <% end %>
<div>
    <form action="/modify_user" method="post">
      <div>
        <label for="email_box">Email</label>
        <input id="email_box" name="query_email" value="<%= @current_user.email %>">
      </div>
      <div>
        <label for="comments_count_box">Comments count</label>
        <input id="comments_count_box" name="query_comments_count" value="<%= User.where({:id => session[:user_id]}).at(0).comments.count %>">
        <!-- need to add likes count in value-->
      </div>
      <div>
        <label for="likes_count_box">Likes count</label>
        <input id="likes_count_box" name="query_likes_count" value="<%= User.where({:id => session[:user_id]}).at(0).likes.count %>">
        <!-- need to add likes count in value-->
      </div>
      <div>
        <label for="privacy_box">Private</label>
        <input id="privacy_box" name="query_privacy" value="0" type="hidden">
        <input id="privacy_box" name="query_privacy" type="checkbox">
      </div>
      <div>
        <label for="username_box">Username</label>
        <input id="username_box" name="query_username" placeholder="" type="text" value="<%= User.where({:id => session[:user_id]}).at(0).username %>">
      </div>

      <div>
        <label for="password_box">Password</label>
        <input id="password_box" name="query_password" placeholder="Choose a password..." type="password">
      </div>
    
      <div>
        <label for="password_confirmation_box">Password Confirmation</label>
        <input id="password_confirmation_box" name="query_password_confirmation" placeholder="Confirm your password..." type="password">
      </div>

      <button>
        Update account
      </button>
    </form>
  </div>
</div>
