<!DOCTYPE html>
<html>
  <head>
    <title>PhotogramFinal</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <ul>
      <li>
        <a href="/users">All users</a>
      </li>
      <li>
        <a href="/photos">All public photos</a>
      </li>
      <% if session[:user_id] == nil %>
      <li>
        <a href="/user_sign_in">Sign in</a>
      </li>
      <li>
        <a href="/user_sign_up">Sign up</a>
      </li>
      <% else %>
      <!-- need to show the user's name -->
      <li>
          <a href="/edit_user_profile"><%= User.where({:id => session[:user_id]}).at(0).username %></a>
      </li>
      <li>
        <a href="/user_sign_out">Sign out</a>
      </li>
      <% end %>
    </ul>

    <p style="color: green"><%= notice %></p>
    <p style="color: red"><%= alert %></p>


    <%= yield %>
  </body>
</html>
